h2,
h3 {
  color: #2dd36f;
}
ion-toolbar {
  --padding-bottom: 10px;
  --padding-top: 5px;
  --background: white;
  padding-right: 2px;
}
ion-title {
  color: #2dd36f;
}

.navbar {
  cursor: pointer;
}
