<ion-menu side="start" menuId="second" content-id="all_competitions">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        <ion-label class="navbar" (click)="changeNav('add')">Add Competitions</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label class="navbar">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="all_competitions">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>All Competitions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <!-- -->
    <ion-list *ngFor="let user of rows">

      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{user.Title}}</h2>

            <!--<ion-button color="success" (click)=Title()>Title</ion-button>-->

            <h2>{{user.Description}}</h2>


            <h2>{{user.AuthorName}}</h2>
          </ion-label>




        </ion-item>



        <ion-item-options side="start">
          <ion-item-option color="danger" expandable="true">
            <ion-icon (click)="removeUser(user,user.length)" name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item lines="none">
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" expandable="true">
            <ion-icon (click)="Navigate(user)" name="create" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-content>

</div>
