<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        <ion-label class="navbar" (click)="changeNav('add')">Add Competitions</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label class="navbar">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let user of competitionData">
        <ion-label class="label">
          <!--<ion-button color="success" (click)=Title()>Title</ion-button>-->
          <h2>{{user.Title}}</h2>
          <h3>{{user.Description}}</h3>
          <h3>{{user.AuthorName}}</h3>
        </ion-label>

        <div class="item-note" item-end>
          <ion-button color="success" [routerLink]="['/update/', user._id]">
            <ion-icon name="create" style="zoom:1.5"></ion-icon>
          </ion-button>
          <ion-button color="success" (click)="removeUser(user,i)">
            <ion-icon name="trash" style="zoom:1.5"></ion-icon>
          </ion-button>

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</div>

