ion-button {
  font-size: 18px;
  color: #2dd36f;
  font-weight: 880;
  --border-radius: 30px;
  --border-color: #2dd36f;
}
ion-title {
  color: #2dd36f;
}
ion-toolbar {
  --padding-bottom: 10px;
  --padding-top: 5px;
  --background: white;
  padding-right: 2px;
}
