<ion-header class="ion-no-border">


  <ion-title>
    <img alt="logo" src="assets/icon/download.svg">
  </ion-title>


</ion-header>

<ion-content fullscreen>

  <ion-card>

    <ion-card-content>
      <ion-button (click)="Home()" fill="clear">Home
      </ion-button>
      <br>
      <ion-button (click)="survey()" fill="clear">Surveys
      </ion-button><br>
      <ion-button (click)="Guessing()" fill="clear">
        Guessing Game
      </ion-button><br>

      <ion-button fill="clear" (click)="Competitions()">All Competitions
      </ion-button><br>
      <ion-button fill="clear" (click)=" Catagories()">All Catagories</ion-button>
      <br>

      <ion-button fill="clear" (click)="Desktop()">Go Desktop</ion-button><br>
      <ion-button class="logout" fill="outline" (click)="logout()">Logout</ion-button>


    </ion-card-content>

  </ion-card>









</ion-content>
