<ion-app>

  <ion-menu side="start" content-id="main">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title color="success">Competitions Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon color="success" name="log-in-outline" slot="start"></ion-icon>
          <ion-button size="small" class="button" fill="clear" color="success" (click)="login()">Login</ion-button>
        </ion-item>
        <ion-item>

          <ion-icon color="success" name="create-outline" slot="start"></ion-icon>

          <ion-button size="small" class="button" fill="clear" color="success" (click)="Registration()">Register
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon color="success" name="person-outline" slot="start"></ion-icon>
          <ion-button size="small" class="button" fill="clear" color="success" (click)="Admin()">Admin Login
          </ion-button>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
