ion-toolbar {
  background: white;
}
ion-title {
  color: #2dd36f;
}

ion-button {
  font-size: 18px;
  color: #2dd36f;
  font-weight: 880;
  --border-radius: 30px;
  --border-color: #2dd36f;
  margin-left: 18px;
}
